.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18vw;
}

.character-image {
 width: 100%;
 height: 350px;
 object-fit: cover;
 border-radius: 1vh;
 cursor: pointer;
}

.grow {
transition: all .2s ease-in-out;
}

.grow:hover {
transform: scale(1.1);
}

@media only screen and (max-width: 600px){
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
  }
}
