.search{
  display:flex;
  justify-content: center;
}
 input {
   font-size: 30px;
   border: 0;
   border-radius: 5px;
   margin-left:5px;
   outline: none;
 }
.submit:hover {
 cursor: pointer;
 background:white;
}
