.character-details {
  display:flex;
  justify-content:space-around;
  margin-top: 25px;
}
.char-image {
  width:40%;
}

.character-info{
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.home:hover {
  cursor: pointer;  
}
