.character-details {
  display:flex;
  justify-content:space-around;
  margin-top: 25px;
  width:100vw;
}
.char-image {
  width:40vw;
}

.character-info{
  width:40vw;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.home:hover {
  cursor: pointer;
}
